@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient{
    background: linear-gradient(96deg, #285091 11.46%, #4e8bf1 91.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}